@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.main {
    height: 100vh;
}
.top {
    height: 35vh;
    background-image: url("pattern-bg.png");
    position: relative;
}
.header {
    color: white;
    width: 300px;
    padding: 32px 0 32px 0;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

/*styles for SearchBar component*/
.search-wrapper {
    margin: auto;
    width: 90vw;
}
.search-bar {
    border: none;
    height: 45px;
    font-weight: 400;
    width: 88%;    
    border-radius: 10px 0 0 10px;
    padding: 15px;
    font-size: 1rem;
}
.search-button {
    display: inline-block;
    border: none;
    background-color: black;
    position: relative;
    left: -1px;
    height: 45px;
    width: 12%;
    border-radius: 0 10px 10px 0;
}

/*styles for InfoBox component*/
.middle {
    padding: 15px;
    position: relative;
    background-color: white;
    box-shadow: 0 15px 20px -5px rgba(220,220,220);
    width: 90vw;
    margin: 5vmin auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 6;
}
.wrapper {
    margin: 10px 0 10px 0;
}
.name {
    font-weight: 500;
    font-size: 12px;
    color: hsl(0, 0%, 59%);
    margin-bottom: 7px;
}
.value {
    font-weight: 500;
    font-size: 20px;
    color: hsl(0, 0%, 17%);
}

/*styles for RenderMap component*/
.bottom {
    height: 65vh;
    width: 100%;
    background-color: rgb(220, 220, 220);
    z-index: 4;
}
/*Leaflet container is basically map container*/
.leaflet-container {
    width: 100%;
    height: 65vh;
    z-index: 5;
}
/*Map loading styles*/
.loading {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color:hsl(0, 0%, 40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

/*styles for LoadingBox component*/
.inner-wrapper {
    margin-bottom: 15px;
}
.inner-wrapper:last-child {
    margin-bottom: 0;
}
.text {
    background-color: rgb(220,220,220);
    border-radius: 7px;
    margin-bottom: 10px;
}
.head {
    height: 10px;
    width: 40%;
}
.subhead {
    height: 20px;
    width: 80%;
}


/*Error dialog*/
.error {
    position: absolute;
    bottom:0;
    height: 40px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(209, 0, 0);
    color: white;
    font-size: 1rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 7;
}

@media screen and (min-width: 800px) {
    .search-wrapper {
        width: 33vw;
    }
    .middle {
        flex-direction: row;
        width: 80vw;
    }
    .wrapper {
        text-align: left;
        word-wrap: break-word;
        width: 25%;
        padding: 0 20px 0 20px;
        border-left: solid 1px hsl(0, 0%, 90%);
    }
    .wrapper:first-child {
        border-left: none;
    }
    .error {
        width: 20%;
        border-radius: 0 10px 0 0;
    }
}



